*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 5px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}

.wrapPageM {
  padding: 3rem;
}
